In [1]:
from __future__ import division, print_function

# MTA Data Challenges

In [2]:
import csv
from datetime import datetime
from collections import Counter

### Challenge 1

In [3]:
!curl -O http://web.mta.info/developers/data/nyct/turnstile/turnstile_150627.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 24.0M    0 24.0M    0     0  1318k      0 --:--:--  0:00:18 --:--:-- 1260k

In [4]:
with open('turnstile_150627.txt') as f:
    reader = csv.reader(f)
    rows = [[cell.strip() for cell in row] for row in reader]

In [5]:
assert rows.pop(0) == ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME',
                       'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES',
                       'EXITS']

In [6]:
raw_readings = {}
for row in rows:
    raw_readings.setdefault(tuple(row[:4]), []).append(tuple(row[4:]))

In [9]:
list(raw_readings.items())[0]

(('R312', 'R405', '00-00-01', 'JACKSON AVE'),
 [('25',
   'IRT',
   '06/20/2015',
   '01:00:00',
   'REGULAR',
   '0004889720',
   '0000482693'),
  ('25',
   'IRT',
   '06/20/2015',
   '05:00:00',
   'REGULAR',
   '0004889750',
   '0000482697'),
  ('25',
   'IRT',
   '06/20/2015',
   '09:00:00',
   'REGULAR',
   '0004889954',
   '0000482702'),
  ('25',
   'IRT',
   '06/20/2015',
   '13:00:00',
   'REGULAR',
   '0004890171',
   '0000482710'),
  ('25',
   'IRT',
   '06/20/2015',
   '17:00:00',
   'REGULAR',
   '0004890384',
   '0000482732'),
  ('25',
   'IRT',
   '06/20/2015',
   '21:00:00',
   'REGULAR',
   '0004890531',
   '0000482744'),
  ('25',
   'IRT',
   '06/21/2015',
   '01:00:00',
   'REGULAR',
   '0004890632',
   '0000482756'),
  ('25',
   'IRT',
   '06/21/2015',
   '05:00:00',
   'REGULAR',
   '0004890662',
   '0000482759'),
  ('25',
   'IRT',
   '06/21/2015',
   '09:00:00',
   'REGULAR',
   '0004890799',
   '0000482759'),
  ('25',
   'IRT',
   '06/21/2015',
   '13:00:00',
   'REGULAR',
   '0004890966',
   '0000482769'),
  ('25',
   'IRT',
   '06/21/2015',
   '17:00:00',
   'REGULAR',
   '0004891181',
   '0000482802'),
  ('25',
   'IRT',
   '06/21/2015',
   '21:00:00',
   'REGULAR',
   '0004891316',
   '0000482819'),
  ('25',
   'IRT',
   '06/22/2015',
   '01:00:00',
   'REGULAR',
   '0004891381',
   '0000482827'),
  ('25',
   'IRT',
   '06/22/2015',
   '05:00:00',
   'REGULAR',
   '0004891412',
   '0000482828'),
  ('25',
   'IRT',
   '06/22/2015',
   '09:00:00',
   'REGULAR',
   '0004891898',
   '0000482855'),
  ('25',
   'IRT',
   '06/22/2015',
   '13:00:00',
   'REGULAR',
   '0004892231',
   '0000482874'),
  ('25',
   'IRT',
   '06/22/2015',
   '17:00:00',
   'REGULAR',
   '0004892562',
   '0000482893'),
  ('25',
   'IRT',
   '06/22/2015',
   '21:00:00',
   'REGULAR',
   '0004892783',
   '0000482903'),
  ('25',
   'IRT',
   '06/23/2015',
   '01:00:00',
   'REGULAR',
   '0004892859',
   '0000482907'),
  ('25',
   'IRT',
   '06/23/2015',
   '05:00:00',
   'REGULAR',
   '0004892900',
   '0000482912'),
  ('25',
   'IRT',
   '06/23/2015',
   '09:00:00',
   'REGULAR',
   '0004893424',
   '0000482924'),
  ('25',
   'IRT',
   '06/23/2015',
   '13:00:00',
   'REGULAR',
   '0004893728',
   '0000482950'),
  ('25',
   'IRT',
   '06/23/2015',
   '17:00:00',
   'REGULAR',
   '0004894114',
   '0000482973'),
  ('25',
   'IRT',
   '06/23/2015',
   '21:00:00',
   'REGULAR',
   '0004894299',
   '0000482993'),
  ('25',
   'IRT',
   '06/24/2015',
   '01:00:00',
   'REGULAR',
   '0004894364',
   '0000482998'),
  ('25',
   'IRT',
   '06/24/2015',
   '05:00:00',
   'REGULAR',
   '0004894395',
   '0000483000'),
  ('25',
   'IRT',
   '06/24/2015',
   '09:00:00',
   'REGULAR',
   '0004894904',
   '0000483008'),
  ('25',
   'IRT',
   '06/24/2015',
   '13:00:00',
   'REGULAR',
   '0004895052',
   '0000483014'),
  ('25',
   'IRT',
   '06/24/2015',
   '17:00:00',
   'REGULAR',
   '0004895241',
   '0000483039'),
  ('25',
   'IRT',
   '06/24/2015',
   '21:00:00',
   'REGULAR',
   '0004895462',
   '0000483069'),
  ('25',
   'IRT',
   '06/25/2015',
   '01:00:00',
   'REGULAR',
   '0004895536',
   '0000483078'),
  ('25',
   'IRT',
   '06/25/2015',
   '05:00:00',
   'REGULAR',
   '0004895576',
   '0000483081'),
  ('25',
   'IRT',
   '06/25/2015',
   '09:00:00',
   'REGULAR',
   '0004896110',
   '0000483094'),
  ('25',
   'IRT',
   '06/25/2015',
   '13:00:00',
   'REGULAR',
   '0004896262',
   '0000483109'),
  ('25',
   'IRT',
   '06/25/2015',
   '17:00:00',
   'REGULAR',
   '0004896480',
   '0000483135'),
  ('25',
   'IRT',
   '06/25/2015',
   '21:00:00',
   'REGULAR',
   '0004896688',
   '0000483160'),
  ('25',
   'IRT',
   '06/26/2015',
   '01:00:00',
   'REGULAR',
   '0004896753',
   '0000483172'),
  ('25',
   'IRT',
   '06/26/2015',
   '05:00:00',
   'REGULAR',
   '0004896788',
   '0000483174'),
  ('25',
   'IRT',
   '06/26/2015',
   '09:00:00',
   'REGULAR',
   '0004897312',
   '0000483197'),
  ('25',
   'IRT',
   '06/26/2015',
   '13:00:00',
   'REGULAR',
   '0004897473',
   '0000483205'),
  ('25',
   'IRT',
   '06/26/2015',
   '17:00:00',
   'REGULAR',
   '0004897718',
   '0000483232'),
  ('25',
   'IRT',
   '06/26/2015',
   '21:00:00',
   'REGULAR',
   '0004897946',
   '0000483251')])

`raw_readings` is a solution to Challenge 1.

### Challenge 2

In [ ]:
datetime_cumulative = {turnstile: [(datetime.strptime(date + time,
                                                      '%m/%d/%Y%X'),
                                    int(in_cumulative))
                                   for _, _, date, time,
                                       _, in_cumulative, _ in rows]
                       for turnstile, rows in raw_readings.items()}

In [ ]:
for rows in datetime_cumulative.values():
    assert rows == sorted(rows)

In [ ]:
datetime_count_times = {turnstile: [[rows[i][0],
                                     rows[i+1][1] - rows[i][1],
                                     rows[i+1][0] - rows[i][0]]
                                    for i in range(len(rows) - 1)]
                        for turnstile, rows in datetime_cumulative.items()}

In [ ]:
all_counts = [count for rows in datetime_count_times.values() for _, count, _ in rows]
all_counts.sort()
print(all_counts[-50:])

In [ ]:
print(all_counts[:1200])

In [ ]:
all_times = [duration.total_seconds() / 60 / 60
             for rows in datetime_count_times.values()
             for _, _, duration in rows]
print(Counter(all_times).most_common(10))

In [ ]:
datetime_counts = {turnstile: [(time, count)
                               for (time, count, _) in rows
                               if 0 <= count <= 5000]
                   for turnstile, rows in datetime_count_times.items()}

`datetime_counts` is a solution to Challenge 2.

In [ ]:
all_good_counts = [count for rows in datetime_counts.values() for _, count in rows]
print(len(all_good_counts) / len(all_counts))

In [ ]:
all_good_counts.sort()
print(all_good_counts[-5:])

In [ ]:
print(all_good_counts[:5])

### Challenge 3

In [ ]:
day_counts = {}
for turnstile, rows in datetime_counts.items():
    by_day = {}
    for time, count in rows:
        day = time.date()
        by_day[day] = by_day.get(day, 0) + count
    day_counts[turnstile] = sorted(by_day.items())

`day_counts` is a solution to Challenge 3.